@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  &:has(.open-model) {
    .open-model,
    .open-model * {
      pointer-events: all;
    }
    :not(.open-model, .open-model *) {
      pointer-events: none;
    }
  }
}

@layer utilities {
  .hover-underline-animation {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #e1f8eb;
      transition: width 0.3s ease;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }

  .border-effect {
    position: relative;
    padding: 1rem;
    font-size: 1.4rem;
    color: #fff;
    letter-spacing: 1.1rem;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;

    a {
      display: block;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background-image: url('data:image/svg+xml;utf8,<svg  viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M48.406,21.063h-0.031l-4.125-5.5v-0.031L44.219,15.5C43.297,14.387,41.914,13,40,13h-8c-0.355,0-0.684,0.074-1,0.188c-0.727,0.375-2.004,1.245-2,2.719V25v0.95V27h-2V16c0-0.552-0.448-1-1-1h-4V4c0-0.552-0.448-1-1-1H9C8.448,3,8,3.448,8,4v11H4c-0.552,0-1,0.448-1,1v11H1c-0.552,0-1,0.448-1,1v6c0,2.206,1.794,4,4,4h4.09c0.478,2.833,2.942,5,5.91,5s5.431-2.167,5.91-5h13.184c0.477,2.836,2.941,5,5.906,5c2.96,0,5.429-2.172,5.909-5H45h1h1c1.66,0,3-1.34,3-3v-9.625C50,23.086,48.406,21.063,48.406,21.063z M44.344,19l2.438,3.25c0,0,0.906,1.551,1.094,2.75H38c-0.168,0-0.438-0.125-0.656-0.344S37,24.168,37,24v-4c0-0.504,0.594-1,1-1H44.344z M25,27H15V17h10V27z M10,5h10v10h-4h-2h-4V5z M5,17h4h4v10H5V17z M14,41c-2.206,0-4-1.794-4-4s1.794-4,4-4s4,1.794,4,4S16.206,41,14,41z M39,41c-2.223,0-4-1.777-4-4s1.777-4,4-4s4,1.777,4,4S41.223,41,39,41z M48,35c0,0.375-0.625,1-1,1h-1h-1h-0.091c-0.48-2.828-2.95-5-5.909-5c-2.965,0-5.43,2.164-5.906,5H33H19.91c-0.478-2.833-2.942-5-5.91-5s-5.431,2.167-5.91,5H4c-1.103,0-2-0.897-2-2v-5h2h10h2h10h4c0.552,0,1-0.448,1-1v-2.05V24v-8c0-0.375,0.625-1,1-1h8c0.785,0,1.891,0.84,2.656,1.75c0.008,0.012,0.023,0.02,0.031,0.031L42.844,17H38c-1.594,0-3,1.289-3,3v4c0,0.832,0.375,1.563,0.906,2.094S37.168,27,38,27h10V35z"></path></g></svg>');
        background-repeat: no-repeat;
        background-size: cover;
        top: 50%;
        opacity: 0;
        right: -15%;
        transform: translateY(-50%);
        transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        width: 3rem;
        height: 3rem;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      transition: inherit;
      z-index: 0;
      top: 0;
      width: 0;
      height: 100%;
    }

    &::before {
      right: 0;
      border: 1px solid #b99470;
      border-left: 0;
      border-right: 0;
    }

    &::after {
      left: 0;
    }

    &:hover {
      color: #333333;
      transition-delay: 0.5s;
      letter-spacing: normal;

      a {
        width: 100%;
        position: relative;
        z-index: 1;

        &::after {
          opacity: 1;
          right: 15%;
          transition: all 1.6s cubic-bezier(0.77, 0, 0.175, 1);
        }
      }

      &::before {
        transition-delay: 0s;
      }

      &::after {
        background: #a6b37d;
        transition-delay: 0.35s;
      }

      &::before,
      &::after {
        width: 100%;
      }
    }
  }

  .slide-in {
    animation: slide-in forwards;
    animation-timeline: view();

    animation-range: entry 20%;
    transform: translateX(-100vw);
  }
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(-100vw);
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(0);
    }
  }

  .cart-top {
    top: calc(-50vh + 2.5rem);
  }
}

.max-admin-links{}